body {
  font-family: sans-serif;
  background: url('../images/background.jpg');
  background-size: cover;
  text-align: center;
}

.container{
  width : 100%;
}


.tile {
  width: 25vmin;
  height: 25vmin;
  border: 1vmin solid grey;
  display: inline-block;
  background: transparent;
  text-align: center;
  line-height: 25vmin;
  position: relative;
  margin-bottom: 1vmin;
  font-size: 10vmin;
  font-weight: bold;
  font-family: sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  box-sizing: border-box;
  vertical-align: middle; /*need to prvent the box from shifting down*/
}

.x {
  background: black;
  color: white;
}

.o {
  background: white;
  color: black;
}

h1 {
  margin: 1vmin 0em;
  font-size: 5em;
}

.ticcontainer {
  width: 82vmin;
  height: 82vmin;
  box-sizing: border-box;
  margin: auto;
  vertical-align: middle;
  display: none;
}


#game{
  display: visible;
}

#over{
  display: none;
  background: white;
  color: black;
  line-height: 82vmin;
  cursor: pointer;
  opacity: .7;
}

#start{
  display: block;
  background: black;
  color: white;
  line-height: 82vmin;
  opacity: .7;
  cursor: pointer;
}